 body {
    background-image: url(./imagem/motivation.jpg);
    background-size: 100%;
    border-radius: 15px;
    height: 260px;   
    padding-right: 10px;
    margin-right: 5px;

    
}
.container {
    
    padding-top: 10px;
    margin:40px;
    text-align: center;
    border-radius: 10px;
    background-color: #3f899d;
    opacity: 0.8;
    
  }
  .container h1 {
    border-radius: 10px;
    padding-top: 20px;
    margin-top: 20px;
    background-color: #6d624a;
    padding: 18px;
    margin: 40px;
    color: #fff;
    
    
  }
  
  .message-container {
    margin-top: 100px;
    margin-bottom: 500px;
    
    
   
  }
  
  .message {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 100px;
    margin-top: 50px;
    
    
  }
  
  #generate-btn {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #927f5f;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    font-size: 22px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #generate-btn:hover {
    background-color: #0e120e;
  }
